@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html {
  font-family: Poppins,sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  background-color: #212121;
}
